:root {
  --grey: rgb(142, 148, 175);
  --grey-dark: rgb(92, 99, 104);
  --grey-light: rgb(213, 213, 213);
  --gap: 12px;
  --small-gap: 6px;
  --box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
}

body {
  margin: 0;
  padding-bottom: 30px;
}

.title {
  font-size: 24px;
  margin: 20px auto;
  text-align: center;
}

.control-bar {
  display: flex;
  flex-direction: column;
}

select {
  height: 30px;
  border: none;
  border-radius: 2px;
  background-color: rgb(205, 205, 205);
}

select:not(:last-child) {
  margin-bottom: 16px;
}

.selects {
  display: flex;
  flex-direction: column;
}

.switch-type {
  display: flex;
  justify-content: center;
}

.container {
  margin: auto;
  max-width: 960px;
}

.t-16 {
  font-size: 16px;
}

.color-grey {
  color: var(--grey);
}

.hide {
  display: none !important;
}

#loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(55, 55, 55, .5);
}

.pagination-section {
  margin-top: 24px;
}

#pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: calc(var(--gap) * -1);
}

.pagination-item {
  padding: 6px 12px;
  color: var(--grey);
  margin: var(--small-gap);
  background-color: var(--grey-light);
}

section {
  padding: var(--gap);
}

.card {
  padding: var(--gap);
  box-shadow: var(--box-shadow);
}

.card:not(:last-child) {
  margin-bottom: 24px;
}

.image {
  width: 100%;
}

.item-content {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: var(--grey-dark);
}

@media only screen and (max-width: 767px) {
  body {
    padding-left: var(--gap);
    padding-right: var(--gap);
  }

  .switch-type {
    margin: 16px 0;
  }

  .item-title {
    margin-top: 6px;
    font-size: 20px;
    font-weight: 500;
  }

  .item-content {
    margin-top: 6px;
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 30px;
  }

  .control-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  select:not(:last-child) {
    margin-right: 16px;
  }

  .selects {
    flex-direction: row;
  }

  .card {
    display: flex;
    padding: 18px;
  }

  .image-block {
    display: flex;
    flex: 0 0 auto;
    width: 240px;
    height: 180px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .image {
    height: 100%;
    object-fit: cover;
  }

  .text-block {
    padding-right: 8px;
    padding-left: 40px;
  }

  .item-title {
    font-size: 24px;
  }

  .item-content {
    margin-top: 24px;
    line-height: 1.6;
  }
}