:root {
  --grey: rgb(142, 148, 175);
  --grey-dark: rgb(92, 99, 104);
  --grey-light: rgb(213, 213, 213);
  --grey-lightest: rgb(246, 246, 246);
  --blue-grey: rgb(236, 241, 245);
  --primary: rgb(23, 147, 201);
  --primary-light: rgb(22, 147, 195);
  --white: rgb(256, 256, 256);
  --dark: rgb(0, 0, 0);
  --mask: rgba(55, 55, 55, .5);;
  --gap: 12px;
  --row-gap: 10px;
  --slow: .3s;
  --small-gap: 6px;
  --box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, .2);
}

body {
  margin: 0;
  padding-bottom: 30px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover .item-title {
  color: var(--primary);
}

.f-text {
  transition: all var(--slow);
}

#wrapper {
  display: flex;
}

#ad-block {
  flex: 0 0 auto;
  margin-left: 24px;
}

.row-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: calc(var(--row-gap) * -1);
}

.row-item {
  width: 100%;
  padding: var(--row-gap);
}

.ad {
  position: sticky;
  top: 0;
}

.ad:not(:last-child) {
  margin-bottom: 12px;
}

.pagination-label {
  margin-right: 8px;
}

.inline {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title {
  font-size: 24px;
  margin: 20px auto;
  text-align: center;
}

.control-bar {
  display: flex;
  flex-direction: column;
}

select {
  height: 30px;
  width: 100%;
  border: none;
  border-radius: 2px;
  background-color: rgb(205, 205, 205);
}

select:not(:last-child) {
  margin-bottom: 16px;
}

.selects {
  display: flex;
  flex-direction: column;
}

.switch-type {
  display: flex;
  justify-content: center;
}

.container {
  margin: auto;
  max-width: 90vw;
}

.t-16 {
  font-size: 16px;
}

.color-grey {
  color: var(--grey);
}

.hide {
  display: none !important;
}

#loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--mask);
}

.pagination-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

#pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: calc(var(--gap) * -1);
}

.pagination-item {
  padding: 6px 12px;
  color: var(--grey);
  margin: var(--small-gap);
  background-color: var(--grey-light);
  cursor: pointer;
  transition: var(--slow);
}

.pagination-item:hover, .pagination-item.is-active {
  color: var(--white);
  background-color: var(--primary);
}

section {
  padding: var(--gap);
}

.card {
  display: flex;
  position: relative;
  padding: var(--gap);
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

.card:not(:last-child) {
  margin-bottom: 24px;
}

.image {
  width: 100%;
}

.item-content {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: var(--grey-dark);
}

.city-tag {
  padding: 2px 8px;
  color: var(--white);
  background-color: var(--primary-light);
}

.tag-block {
  display: flex;
}

.town-tag {
  color: var(--grey-dark);
}

.pagination-info {
  flex: 0 0 auto;
  margin-right: 10px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.icon:not(:last-child) {
  margin-right: 6px;
}

.icon:hover .fill, .icon.is-active .fill {
  fill: var(--dark);
}

.icon svg {
  width: 100%;
  height: 100%;
}

.icon .fill {
  transition: fill var(--slow);
  fill: var(--grey);
}

.image-block {
  position: relative;
  display: flex;
  overflow: hidden;
  cursor: pointer;
}

.image-block img {
  transition: all var(--slow);
}

.image-block:hover img{
  transform: scale(1.3);
}

.card .image-block:hover .mask {
  opacity: 0;
}

.mask {
  transition: opacity var(--slow);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: var(--mask);
}

.image-card {
  position: relative;
  height: 140px;
}

.image-card .info-block {
  position: absolute;
  bottom: 16px;
  left: 16px;
  z-index: 3;
  width: 90%;
}

.image-card .mask {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.4)0%, rgba(241, 241, 255, 0)100%);
  background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.4)0%, rgba(241, 241, 255, 0)100%);
  background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.4)0%, rgba(241, 241, 255, 0)100%);
  background: -o-linear-gradient(90deg, rgba(0, 0, 0, 0.4)0%, rgba(241, 241, 255, 0)100%);
}

.info-block .town-tag, .info-block .item-title {
  color: var(--white);
}

.info-block .item-title {
  margin-top: 0;
  font-size: 16px;
}

.info-block .tag-block {
  margin: 0;
  margin-bottom: 4px;
}

.info-block .tag-block .f-text {
  font-size: 14px;
}

.image-card .image-block {
  height: 100%;
}

.image-card .image-block img {
  height: 100%;
  object-fit: cover;
}

.city-tag {
  margin-right: 8px;
}

.image-card:hover .hide-content{
  max-height: 47px;
}

.line {
  width: 60px;
  height: 3px;
  background-color: var(--white);
}

.image-card .info-block {
  pointer-events: none;
}

.hide-content {
  max-height: 0;
  padding-top: 6px;
  overflow: hidden;
  transition: max-height var(--slow);
}

.hide-content .item-content {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: var(--white);
  margin-top: 6px;
  font-size: 12px;
}

@media only screen and (max-width: 767px) {
  .is-desktop-only {
    display: none !important;
  }

  body {
    padding-left: var(--gap);
    padding-right: var(--gap);
  }

  .switch-type {
    margin: 16px 0;
  }

  .item-title {
    margin-top: 6px;
    font-size: 20px;
    font-weight: 500;
  }

  .item-content {
    margin-top: 6px;
    font-size: 14px;
  }

  .card {
    flex-direction: column;
  }

  .tag-block {
    margin-top: 8px;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .is-touch-only {
    display: none !important;
  }

  .title {
    font-size: 30px;
  }

  .container {
    width: 85vw;
    max-width: 1152px;
  }

  .control-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  select {
    width: 140px;
  }

  select:not(:last-child) {
    margin-right: 16px;
  }

  .selects {
    flex-direction: row;
  }

  .card {
    padding: 18px;
  }

  .image-block {
    flex: 0 0 auto;
    width: 240px;
    height: 150px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .image {
    height: 100%;
    object-fit: cover;
  }

  .text-block {
    padding-right: 8px;
    padding-left: 32px;
  }

  .item-title {
    font-size: 24px;
  }

  .item-content {
    margin-top: 24px;
    line-height: 1.6;
  }

  .card .tag-block {
    position: absolute;
    left: 0;
    top: 0;
    align-items: flex-end;
    flex-direction: column;
    transform: translateX(-100%);
  }

  .card .tag-block .town-tag {
    padding-top: 6px;
    padding-right: 6px;
    writing-mode: vertical-rl;
  }

  .card .tag-block .city-tag {
    margin-right: 0;
  }

  .image-card .image-block{
    width: 100%;
  }

  .row-item.is-6 {
    width: calc(50% - var(--row-gap) * 2);
  }
}