th, td {
  transition: all var(--slow);
  white-space: nowrap;
  height: 40px;
  padding: 6px 14px;
  border: 1px solid var(--grey-light);
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

th {
  background: linear-gradient(90deg, rgba(231, 231, 231, 1)35%, rgba(241, 241, 241, 1)60%);
  background: -moz-linear-gradient(90deg, rgba(231, 231, 231, 1)35%, rgba(241, 241, 241, 1)60%);
  background: -webkit-linear-gradient(90deg, rgba(231, 231, 231, 1)35%, rgba(241, 241, 241, 1)60%);
  background: -o-linear-gradient(90deg, rgba(231, 231, 231, 1)35%, rgba(241, 241, 241, 1)60%);
}

tbody tr:nth-child(even) td {
  background-color: var(--grey-lightest);
}

tbody tr:hover td {
  background-color: var(--blue-grey);
}

@media only screen and (max-width: 767px) {
  .is-scroll {
    max-width: 90vw;
    overflow-x: scroll;
  }
}

@media only screen and (min-width: 768px) {
  .content {
    position: relative;
    white-space: normal;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .content-td {
    position: relative;
  }

  .content-td::before {
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--slow), visibility var(--slow);
  }

  .content-td:hover::before {
    content: attr(data-content);
    position: absolute;
    z-index: 4;
    bottom: 0;
    padding: 4px;
    border-radius: 3px;
    border: 1px solid var(--grey);
    background: var(--white);
    color: var(--dark);
    font-size: 14px;
    white-space: nowrap;
    transform: translateY(50%) translateX(20px);
    opacity: 1;
    visibility: visible;
}
}